@import "../assets/mixins";
@import "../assets/fonts/style.css";

html {
  font-size: 12px;
  font-family: var(--font-helvetica);
  position: relative;

  @media #{$min1366} {
    font-size: 16px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-font: #35344d;
  --color-font-menu: #cac4e3;
  --color-link: #524bfc;
  --color-dark-base: #5249ff;
  --color-grey: #c3c3cc;
  --color-border-grey: #e1e3e5;
  --color-background-light: rgba(247, 247, 247, 1);

  --transition-ease: all 0.3s;
  --transition-medium: all 0.7s;
  --transition-slow: all 1.2s;

  --sidebar-left-width: 25.5rem;
  --sidebar-padding-left: 2rem;

  --font-helvetica: "Helvetica Neue";
  --font-gotham: "Gotham Pro Medium";
  --font-gotham-light: "Gotham Pro Light";

  --font-size-text: 1rem;
  --font-size-text-mobile: 3rem;
  --font-size-text-title: 1.2rem;
  --font-size-text-title-mobile: 4rem;
  --size-h1: 2rem;
  --size-h1-mobile: 4rem;
}

.v-application {
  font-family: var(--font-helvetica);
}

.theme--light.v-application {
  background: var(--color-background-light);
}
